<ion-header>
  <ion-toolbar>
    <ion-title>
      Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/JavisIndLogo.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Brad Utegaard</ion-card-title>
      <ion-card-subtitle>IT Consultant</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        14 W Mifflin St., Suite 314 Madison, WI
      </p>
      <p>
        Main Office: 608.620.5123
      </p>
      <p>
        Direct: 608.888.1640
      </p>
      <p>
        <a href="mailto:brad@javisind.com">brad@javisind.com</a>
      </p>
      <p>
        <a href="https://javisindustries.com">javisindustries.com</a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
